<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525095470682-7r5e1j75rparh2cttpg3qnr81u3mokjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525095470682-7r5e1j75rparh2cttpg3qnr81u3mokjk</string>
	<key>API_KEY</key>
	<string>AIzaSyDdnQvmoChlE6IWw_SCRz7IgE2sQkv5gLk</string>
	<key>GCM_SENDER_ID</key>
	<string>525095470682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ingeniworks.myagroios</string>
	<key>PROJECT_ID</key>
	<string>myagro-5d156</string>
	<key>STORAGE_BUCKET</key>
	<string>myagro-5d156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525095470682:ios:6cb1a77ee15d1a95</string>
	<key>DATABASE_URL</key>
	<string>https://myagro-5d156.firebaseio.com</string>
</dict>
</plist>